parameters:
	ignoreErrors:
		-
			message: '#^Only iterables can be unpacked, mixed given\.$#'
			identifier: arrayUnpacking.nonIterable
			count: 1
			path: src/DependencyInjection/CustomMessageHeaderCompilerPass.php

		-
			message: '#^Method Patchlevel\\EventSourcingAdminBundle\\Twig\\DumpExtension\:\:dump\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Twig/DumpExtension.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Twig/InspectionExtension.php

