parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method defaultFalse\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method end\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Cannot call method scalarNode\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Only iterables can be unpacked, mixed given\.$#'
			identifier: arrayUnpacking.nonIterable
			count: 1
			path: src/DependencyInjection/CustomMessageHeaderCompilerPass.php

		-
			message: '#^Method Patchlevel\\EventSourcingAdminBundle\\Twig\\DumpExtension\:\:dump\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Twig/DumpExtension.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Twig/InspectionExtension.php

