.json_key, .json_key span {
    color: #6d28d9;
}

.json_string, .json_string span {
    color: #15803d;
}

.json_number {
    color: #1d4ed8;
}

.json_bool {
    color: #b91c1c;
}

.json {
    white-space: pre;
}
